<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!-- assets -->
  {% include 'assets/reset_pass/header.html' %}
  <!-- fin assets -->
    <script>
      /* Trigger flash modal */
    $(document).ready(function() {
        var messages = "{{ get_flashed_messages() }}";
  
        if (typeof messages != 'undefined' && messages != '[]' && messages.match('La contraseña debe tener al menos 8 caracteres.')) {
            $("#myModal-error-pass").modal('show');
        };
        if (typeof messages != 'undefined' && messages != '[]' && messages.match('La contraseña debe contener al menos una letra mayúscula.')) {
            $("#myModal-error-pass").modal('show');
        };
        if (typeof messages != 'undefined' && messages != '[]' && messages.match('La contraseña debe contener al menos dos números.')) {
            $("#myModal-error-pass").modal('show');
        };
        if (typeof messages != 'undefined' && messages != '[]' && messages.match('Contraseña restablecida con éxito. Puedes iniciar sesión con tu nueva contraseña.')) {
          $("#myModal-reset-password").modal('show');
      };
    });
    </script>
     <style>
        .fulfilled {
        color: green;
    }
      </style>
    
</head>
<body>
        
        <div class="limiter" >
            <div class="form-register">
                <div >
                    <form  action="{{ url_for('reset_password', token=token) }}" method="post" >
                        <h4>Restablecer Contraseña</h4>
                        
                        <input class="controls" type="password" name="new_password" id="new_password" placeholder="Nueva Contraseña:">
                        <input class="controls" type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar Nueva Contraseña:">
                        <input class="botons" type="submit" id="inciio" name="inciio" value="Restablecer Contraseña">
                            
                    </form>
                    <div id="passwordRequirements">
                        <h3>Especificaciones para la contraseña:</h3>
                        <ul>
                          <li>Debe tener al menos 8 caracteres.</li>
                          <li>Debe contener al menos una letra mayúscula.</li>
                          <li>Debe contener al menos dos números.</li>
                        </ul>
                      </div>
                    
                </div>
            </div>
        </div>

  <!-- Modals -->
  {% include 'modals/reset_pass/modal-reset-password.html' %}
  {% include 'modals/reset_pass/modal-error-pass.html' %}
  <!-- fin Modals -->

  <!-- assets -->
  {% include 'assets/reset_pass/body.html' %}
  <!-- fin assets -->
</body>

<script>
    // Script JavaScript
  document.getElementById('new_password').addEventListener('keyup', function () {
    var password = this.value;
    var requirements = document.getElementById('passwordRequirements').querySelectorAll('li');
  
    // Verificar si la contraseña cumple con los requisitos
    var lengthRequirement = password.length >= 8;
    var uppercaseRequirement = /[A-Z]/.test(password);
    var numbersRequirement = (password.match(/\d/g) || []).length >= 2;
  
    // Marcar las especificaciones cumplidas o no cumplidas
    requirements[0].classList.toggle('fulfilled', lengthRequirement);
    requirements[1].classList.toggle('fulfilled', uppercaseRequirement);
    requirements[2].classList.toggle('fulfilled', numbersRequirement);
  });
  </script>
</html>